.fixed-action-btn {
  &.direction-left {
    ul {
      right: 50px;
    }
  }
  &.direction-right {
    ul {
      right: 50px;
    }
  }
  .btn-floating {
    &.btn-small {
      line-height: 29.4px;
    }
  }
}
