.fixed-action-btn.direction-left ul {
  right: 50px;
}
.fixed-action-btn.direction-right ul {
  right: 50px;
}
.fixed-action-btn .btn-floating.btn-small {
  line-height: 29.4px;
}

.breadcrumbs {
  margin: 0 0 5px 0;
  padding: 0;
}
.breadcrumbs .breadcrumb {
  color: #7e827e;
  font-size: 13px;
  vertical-align: middle;
}
.breadcrumbs .breadcrumb i {
  color: #7e827e;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 4px;
}
.breadcrumbs .breadcrumb:before {
  color: #7e827e;
  font-size: 16px;
}

.drpodownMenu {
  display: inherit;
}

.nav-avatar-dropdown-trigger {
  display: inherit;
}

.parallax-container {
  height: 350px;
  width: 100%;
}
.parallax-container .parallax-content {
  margin-top: 200px;
}

.progress {
  background-color: #2196F3;
}

.progress .indeterminate {
  background-color: orange;
}

.tabs.blue-heading {
  background: lightgray;
}

